body {
    background-color: #cfcfcf;
    margin: 0;
}

#slide {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: "100vw";
}